.containerServiciosWhite {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.493);
    padding: 30px;
    margin-bottom: 40px;
    height: 65vh;
}
.containerServiciosWhite section {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.containerServiciosWhite h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: rgb(10, 10, 10);
}
.containerServiciosWhite h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: rgb(10, 10, 10);
}
.containerServiciosWhite hr {
    width: 40%;
    height: 2px;
    margin: auto;
    background-color: #000000;
    border: none;
    margin-bottom: 15px;
}
.containerServiciosWhite p {
    font-size: 1.1rem;
    text-align: left;
    letter-spacing: .5px;
    font-weight: 600;
    color: rgb(10, 10, 10);
}
.containerServiciosWhite picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.containerServiciosWhite img {
    width: 70%;
    height: 100%;
    max-width: 500px;
}


.information h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2rem;
}


.containerServiciosBlack{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.879);
    padding: 30px;
    margin-bottom: 40px;
    height: 55vh;
}
.containerServiciosBlack section {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.containerServiciosBlack h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: rgb(229, 229, 229);
}
.containerServiciosBlack hr {
    width: 40%;
    height: 2px;
    margin: auto;
    background-color: rgb(242, 242, 242);
    border: none;
    margin-bottom: 15px;
}
.containerServiciosBlack p {
    font-size: 1.1rem;
    letter-spacing: .5px;
    text-align: left;
    font-weight: 600;
    color: rgb(229, 229, 229);
}
.containerServiciosBlack picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.containerServiciosBlack img {
    width: 70%;
    height: 100%;
    max-width: 500px;
}


.porqueServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos */
    gap: 20px; /* Espacio entre los elementos */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.porqueServicios h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.porqueServicios div {
    width: calc(50% - 10px); /* Dos elementos por fila en escritorio */
    background-color: rgb(229, 229, 229);
    color: rgb(10, 10, 10);
    box-shadow: 1px 2px 8px rgba(255, 255, 255, 0.69);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}
.porqueServicios img{
    object-position: center;
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}


.listosContactanos{
    margin: 20px;
    text-align: left;
    margin-bottom: 60px;
}
.listosContactanos a{
    color:#373a3c;
    border-bottom: 2px solid #373a3c;
}

@media (max-width: 1120px) {
    .porqueServicios div {
        width: 100%; /* Un solo elemento por fila en móviles */
    }
    .containerServiciosWhite {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto
    }
    .containerServiciosWhite section {
        width: 100%;
    }
    .containerServiciosWhite picture {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .containerServiciosWhite img {
        width: 70%;
        max-width: 300px;
        height: auto;
    }
    .containerServiciosBlack {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto
    }
    .containerServiciosBlack section {
        width: 100%;
    }
    .containerServiciosBlack picture {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .containerServiciosBlack img {
        width: 70%;
        max-width: 300px;
        height: auto;
    }
    .containerServiciosWhite h1 {
        font-size: 2.1rem;
    }
}
@media (max-width: 800px) {
    .information h2{
        font-size: 1.5rem;
    }
    .porqueServicios h2{
        font-size: 1.5rem;
    }
    .containerServiciosWhite p {
        font-size: 1rem;
    }
    .containerServiciosBlack p {
        font-size: 1rem;
    }
}
@media (max-width: 580px) {
    .information h2{
        font-size: 1.2rem;
    }
    .porqueServicios h2{
        font-size: 1.2rem;
    }
    .containerServiciosWhite h1 {
        font-size: 1.5rem;
    }
    .containerServiciosWhite p {
        font-size: .9rem;
    }
    .containerServiciosBlack p {
        font-size: .9em;
    }
}